.md-grid{
.form__input{
.md-divider{
    display: none;
}
}

.select-field{
    width: 40%;
    height: 20%;
    // .md-select-field__toggle{
            // .md-text--secondary{
            //     margin-left: 36%;
            //     margin-top: -5%;
            //     border: 1px solid;
            //     width: 40%;
            //     .md-icon-separator{
            //         margin-left: 36%;
            //         margin-top: -5%;
            //         border: 1px solid;
            //         width: 40%;
            //     }
            // }
        
    }
}


// .md-icon{
//     background-color: gray;
//     height: 45% !important;
//     width: 3%;
//     visibility: unset;    
// }
